
<!-- mai bas imp cheeze yaha pe daal rha hu css and structure dekh lena  -->

<link rel="stylesheet" href="css/bidding.css">
<section class="bidding">
    
<div class="bidding_container" >
    <div class="Product-details inner_container">
        <h3>
            <%=bp.product.name%>
    
        </h3>
        
        <img src="images/<%=bp.product.image%>" alt="product image" width="200px" >
    
        
    </div>
    <div class="bidding-details inner_container">
        <h5>Time Left : 4 min </h5>
        <h4>Curr bid : <%=bp.curr_max_bid%></h1>

        <button type="button">Place bid</button>
        
        <!-- ye wallah div upar se urta hua ayega screen pe starting pe nhi rahega -->
        <div>
            <form action="" >
                <input type="number" name="bid" value="1001">
                <input type="submit" name="" id="" value="raise bid">
            </form>
        </div>
    </div>
    <div class="users-details inner_container">
        <h3>currently</h3>
        <div class="log-container">

        </div>
    </div>  
</div>
</section>

<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src="js/bidEngine.js"></script>
<%if(locals.user) { %>
<script>
    new BidEngine("<%=bp.id%>","<%=user.email%>","<%=user.name%>")
</script>

<%}%>