<link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="css/bidding2.css">
  <section class="single-product">
    <% if(!bp.closed) {%>
    <div class="row mt-20"> 
        <div class="col-md-5">
            <div class="single-product-slider">
                <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-outer'>
                        <!-- me art lab slider -->
                        <div class='carousel-inner '>
                            <div class='item active product-img-size'>
                                <img src='images/<%=bp.product.gallery[0]%>' alt='' data-zoom-image="images/<%=bp.product.gallery[0]%>" />
                            </div>
                            <div class='item product-img-size'>
                                <img src='images/<%=bp.product.gallery[1]%>' alt='' data-zoom-image="images/<%=bp.product.gallery[1]%>" />
                            </div>
                            
                            <div class='item product-img-size'>
                                <img src='images/<%=bp.product.gallery[0]%>' alt='' data-zoom-image="images/<%=bp.product.gallery[0]%>" />
                            </div>
                            <div class='item product-img-size'>
                                <img src='images/<%=bp.product.gallery[1]%>' alt='' data-zoom-image="images/<%=bp.product.gallery[1]%>" />
                            </div>
                            <div class='item product-img-size'>
                                <img src='images/<%=bp.product.gallery[0]%>' alt='' data-zoom-image="images/<%=bp.product.gallery[0]%>" />
                            </div>
                            <div class='item product-img-size'>
                                <img src='images/<%=bp.product.gallery[1]%>' alt='' data-zoom-image="images/<%=bp.product.gallery[1]%>" />
                            </div>
                            
                        </div>
                        
                        <!-- sag sol -->
                        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                            <i class="tf-ion-ios-arrow-left"></i>
                        </a>
                        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                            <i class="tf-ion-ios-arrow-right"></i>
                        </a>
                    </div>
                    
                    <!-- thumb -->
                    <ol class='carousel-indicators mCustomScrollbar meartlab'>
                        <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                            <img src='images/product-1.jpg' alt='' />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='1'>
                            <img src='images/product-2.jpg' alt='' />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='2'>
                            <img src='images/product-3.jpg' alt='' />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='3'>
                            <img src='images/product-4.jpg' alt='' />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='4'>
                            <img src='images/product-5.jpg' alt='' />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='5'>
                            <img src='images/product-6.jpg' alt='' />
                        </li>
                        <li data-target='#carousel-custom' data-slide-to='6'>
                            <img src='images/product-7.jpg' alt='' />
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="single-product-details"> 
                <div style="display: flex; justify-content: space-between;">
                    <div style="font-size: 2em; font-weight: bold;">
                        <%= bp.product.name %>
                        <div class="signify">
                            <div class="dot red"></div>
                        </div>
                    </div>
                    
                    <div class="times">
                        <div class="min tc" style="padding: 10px; "><h4 style="font-weight: bold;">Minutes</h4><h3 style="text-align: right;" class="fill-min1"></h3> </div>
                        <div class="sec tc"><h4 style="font-weight: bold;">Second</h4> <h3 class="fill-sec1" style="text-align: right;" ></h3></div>
                    </div>
                </div>
                <p class="product-description mt-20">
                    <%= bp.product.Desc %>
                </p>
                <div class="not-started-yet inner_container" data-time="<%=bp.start_time%>" style="margin-top: 100px;">
                    <h2>Bidding will start in </h2>
                    <div class="times">
                        <div class="day tc"><h3>Days</h3> <h5 style="font-weight: bold;" class="fill-day"></h6></div>
                        <div class="hr tc"><h3>Hours</h3> <h5 class="fill-hr" style="font-weight: bold;"></h6> </div>
                        <div class="min tc"><h3>Minutes</h3><h5 class="fill-min" style="font-weight: bold;"></h6> </div>
                        <div class="sec tc"><h3>Second</h3> <h5 class="fill-sec" style="font-weight: bold;"></h6></div>
                        
            
                    </div>
                </div>
                <div class="after-time" data-end="<%=bp.end_time%>" data-id="<%=bp.id%>">
                    
                <div class="product-size">
                    <h4>Size:</h4>
                    <select class="form-control" style="height:45px; margin-left: 20px;">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                </div>
                
                
                <h4 class="product-price">Maximum Bid : <span id="curr_bid_value"><%=bp.curr_max_bid%></span>&nbsp;<i class="fas fa-coins" style="color: rgb(255, 174, 0);"></i></h4>
                <!-- <div class="bidding-details inner_container after-time" data-end="<%=bp.end_time%>" data-id="<%=bp.id%>" >
                    <h5>Time Left:</h5>
                    <div class="times">
                        <div class="min tc"><h5>Minutes</h5><h6 class="fill-min1"></h6> </div>
                        <div class="sec tc"><h5>Second</h5> <h6 class="fill-sec1"></h6></div>
                    </div>
                    <h4>Curr bid : <span id="curr_bid_value"><%=bp.curr_max_bid%></span></h1>
            
                    <button type="button">Place bid</button>
                    
                    ye wallah div upar se urta hua ayega screen pe starting pe nhi rahega
                    <div>
                        <form action="" data-link="/bidraise" >
                            <input type="number" name="bid" value="1001" id="bid_input" >
                            <input type="submit" name="" id="bid_button" value="raise bid">
                        </form>
                    </div>
                </div> --> 
                <button type="button" class="btn btn-main mt-20 place-bid-button">
                    PLACE BID
                </button>
                <div id="complete-bid-form" class="bidding-details inner_container after-time display-none" data-end="<%=bp.end_time%>" data-id="<%=bp.id%>" >
                    <div class="bid-input-info">
                        <form action="" data-link="/bidraise" >
                            <input id="bid_input" class="bid-value-input" type="number" value="0" name="bid">
                            <input type="submit" name="" id="bid_button" class="btn btn-main mt-20" value="raise bid">
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div> 
    </div>
    <div class="users-details">
            <ul class="logs">
                <!-- <li>Hello</li>  -->
            </ul>
    </div> 
    <div id="chart">
        
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="tabCommon mt-20">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
                    <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
                </ul>
                <div class="tab-content patternbg">
                    <div id="details" class="tab-pane fade active in">
                        <h4>Product Description</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut per spici</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis delectus quidem repudiandae veniam distinctio repellendus magni pariatur molestiae asperiores animi, eos quod iusto hic doloremque iste a, nisi iure at unde molestias enim fugit, nulla voluptatibus. Deserunt voluptate tempora aut illum harum, deleniti laborum animi neque, praesentium explicabo, debitis ipsa?</p>
                    </div>
                    <div id="reviews" class="tab-pane fade">
                        <div class="post-comments">
                            <ul class="media-list comments-list m-bot-50 clearlist">
                                <!-- Comment Item start-->
                                <li class="media">

                                    <a class="pull-left" href="#!">
                                        <img class="media-object comment-avatar" src="" alt="" width="50" height="50" />
                                    </a>

                                    <div class="media-body">
                                        <div class="comment-info">
                                            <h4 class="comment-author">
                                                <a href="#!">Jonathon Andrew</a>
                                                
                                            </h4>
                                            <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                            <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                        </div>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
                                        </p>
                                    </div>

                                </li>
                                <!-- End Comment Item -->

                                <!-- Comment Item start-->
                                <li class="media">

                                    <a class="pull-left" href="#!">
                                        <img class="media-object comment-avatar" src="" alt="" width="50" height="50" />
                                    </a>

                                    <div class="media-body">

                                        <div class="comment-info">
                                            <div class="comment-author">
                                                <a href="#!">Jonathon Andrew</a>
                                            </div>
                                            <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                            <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                        </div>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus, nostrum iste non delectus atque ab a accusantium optio, dolor!
                                        </p>

                                    </div>

                                </li>
                                <!-- End Comment Item -->

                                <!-- Comment Item start-->
                                <li class="media">

                                    <a class="pull-left" href="#!">
                                        <img class="media-object comment-avatar" src="" alt="" width="50" height="50">
                                    </a>

                                    <div class="media-body">

                                        <div class="comment-info">
                                            <div class="comment-author">
                                                <a href="#!">Jonathon Andrew</a>
                                            </div>
                                            <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                            <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                        </div>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                        </p>

                                    </div>

                                </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <%}else{%>
        <div class="bid-closed-now">
            <h2>This bid is closed now</h2>
            <a href="/">
                <button class="btn btn-main mt-20">
                    HOME PAGE
                </button>
            </a>
        </div>
        <%}%>

</section>

<script src="plugins/jquery/dist/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>
    
    <script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>

<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src="js/bidEngine.js"></script>
<script src="js/time.js"></script>
<script src="js/bidding_2.js"></script>
<%if(locals.user) { %>
<script>
    // console.log(bp.id);
    
     new BidEngine("<%=bp.id%>","<%=user.email%>","<%=user.name%>","<%=bp.curr_max_bid%>")


</script>

<%}%>
