
<!-- mai bas imp cheeze yaha pe daal rha hu css and structure dekh lena  -->

<link rel="stylesheet" href="css/bidding.css">
<section class="bidding">
    
<div class="bidding_container" >
    <div class="Product-details inner_container">
        <h3>
            <%=bp.product.name%>
    
        </h3>
        
        <img src="images/<%=bp.product.image%>" alt="product image" width="200px" >
    
        
    </div>
    
    <% if(!bp.closed) {%>
    <div class="not-started-yet inner_container" data-time="<%=bp.start_time%>">
        <h2>Bidding will start in </h2>
        <div class="times">
            <div class="day tc"><h4>Days</h4> <h6 class="fill-day"></h6></div>
            <div class="hr tc"><h4>Hours</h4> <h6 class="fill-hr"></h6> </div>
            <div class="min tc"><h4>Minutes</h4><h6 class="fill-min"></h6> </div>
            <div class="sec tc"><h4>Second</h4> <h6 class="fill-sec"></h6></div>
            

        </div>
    </div>
    <div class="bidding-details inner_container after-time" data-end="<%=bp.end_time%>" data-id="<%=bp.id%>" >
        <h5>Time Left:</h5>
        <div class="times">
            <div class="min tc"><h5>Minutes</h5><h6 class="fill-min1"></h6> </div>
            <div class="sec tc"><h5>Second</h5> <h6 class="fill-sec1"></h6></div>
            

        </div>
        <h4>Curr bid : <span id="curr_bid_value"><%=bp.curr_max_bid%></span></h1>

        <button type="button">Place bid</button>
        
        <!-- ye wallah div upar se urta hua ayega screen pe starting pe nhi rahega -->
        <div>
            <form action="" data-link="/bidraise" >
                <input type="number" name="bid" value="1001" id="bid_input" >
                <input type="submit" name="" id="bid_button" value="raise bid">
            </form>
        </div>
    </div>
    <div class="users-details inner_container after-time">
        <h3>currently</h3>
        <div class="log-container">
            <ul class="logs">
                <!-- <li>Hello</li> -->
            </ul>
        </div>
    </div> 
    <%}else{%>
    <div class="inner_container">
        
        <p>This bid is closed now</p>

    </div>
    <%}%>
</div>
</section>

<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script src="js/bidEngine.js"></script>
<script src="js/time.js"></script>
<%if(locals.user) { %>
<script>
    new BidEngine("<%=bp.id%>","<%=user.email%>","<%=user.name%>")
</script>

<%}%>