<link rel="stylesheet" href="css/cart.css">
<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <% for(p of cart){ %>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="images/<%=p.image%>">
                    <div>
                        <p><%=p.name%></p>
                        <small>₹<%=p.price%>.00</small>
                        <a href="" class="remove-from-cart" data-product="<%= p.id %>">Remove</a>
                    </div>
                </div>
            </td>
            <td><%=p.quantity%></td>
            <td>$50.00</td>
        </tr>
        <% }%>
        
    </table>


    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$175.00</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$30.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$205.00</td>
            </tr>
        </table>
    </div>

</div>

<script src="js/cart.js"></script>