<link rel="stylesheet" href="css/cart.css">
<link rel="stylesheet" href="css/cart2.css">

<% if(cart.length != 0){ %>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"><%=cart.length%> items</div>
                </div>
            </div>
            <%let x=0.0%>
            <%for(let cp of cart){%>
            <% x+=(cp.price*cp.quantity) %>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="images/<%=cp.image%>"></div>
                    <div class="col">
                        <div class="row text-muted">Shirt</div>
                        <div class="row"><%=cp.name%></div>
                    </div>
                    <div class="col"> <a href="#">-</a><a href="#" class="border"><%=cp.quantity%></a><a href="#">+</a> </div>
                    <div class="col">₹<%=cp.price%><span class="close">&#10005;</span></div>
                </div>
            </div>
            <%}%>
            
            
            <div class="back-to-shop"><a href="/shop">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <% for (let i in cart){ %>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEM <%=(i)%></div>
                <div class="col text-right">₹ <%=cart[i].price%></div>
            </div>
            <%}%>
            <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted">Standard-Delivery- ₹5.00</option>
                </select>
                <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">₹ <%=x%></div>
            </div> <a href="/checkout" class="btn" style="font-size: 1.5rem; color: white;">CHECKOUT</a>
        </div>
    </div>
</div>
<%}else{%>
    <div class="empty-cart">
        <img src="images/emptycart.png">
        <a href="/shop"><button type="button" class="btn btn-light shop-now-button" style="color: #ff3f6c; background-color: white; border: 1px solid #ff3f6c; font-weight: 600; ">Shop Now !!</button></a>
    </div>
<%}%>
<script src="js/cart.js"></script>
