<link rel="stylesheet" href="css/home.css">
<div class="row home-curr">
    <div class="col-2">
        <h1>Give Your Workout <br> A New Style!</h1>
        <p>Success isn't always about greatness. It's about consistency. Consistency hard work gains success. Greatness
            will come.</p>
        <a href="" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="images/image1.png">
    </div>
</div>

<!--  featured categories    -->

<div class="categories">
    <div class="small-container">
        <div class="row-2">
            <div class="col-3">
                <img src="images/category-1.jpg">
            </div>
            <div class="col-3">
                <img src="images/category-2.jpg">
            </div>
            <div class="col-3">
                <img src="images/category-3.jpg">
            </div>
        </div>
    </div>
</div>

<!--  featured products    -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row-2">
        <% for(p of locals.products){%>
            <div class="col-4 product-preview" data-product="<%=p.id%>">
                <img src="images/<%=p.image%>" data-product="<%=p.id%>">
                <h6>
                    <%=p.name%>
                </h6>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>₹<%=p.price%>.00</p>
            </div>
            <%}%>
    </div>
</div>

<div class="background-myntra">
<div class="small-container">
    <h2 class="title">Bidding Products</h2>
    <div class="row-2">
        <% for(p of locals.products){%>
            <div class="col-4 product-bidding" data-product="<%=p.id%>">
                <img src="images/<%=p.image%>" data-product="<%=p.id%>">
                <h6>
                    <%=p.name%>
                </h6>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p><%=p.price%>&nbsp;<i class="fas fa-coins"></i></p>
            </div>
            <%}%>

    </div>
</div>
</div>

<script src="js/home.js"></script>