<link rel="stylesheet" href="css/profile.css">
<div class="container-1">
    <h4>My Account</h4>
    <table>
        <tr>
            <td style="font-weight: bold;">Name</td>
            <td><%=user.name%></td>
        </tr>
        <tr >
            <td style="font-weight: bold;">Email</td>
            <td><%=user.email%></td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Coins</td>
            <td><%=user.points%> &nbsp;<i class="fas fa-coins"></i></td>
        </tr>
    </table>
</div>

<div class="container-2">
    <h4>Past Orders</h4>
    <table class="past-order">
        <tr style="border: 1px solid rgb(182, 182, 182);">
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Coins Earned</th>
        </tr>
        <%for(let p of past){%>
        <tr class="actual-orders" style="border: 1px soldi grey;">
            <td>
                <div class="cart-info">
                    <img src="images/<%=p.image%>" height="150px">
                    <div>
                        <p><%=p.name%>t</p>
                    </div>
                </div>
            </td>
            <td>₹<%=p.price%></td>
            <td><%=p.quantity%></td>
            <td>₹<%=p.price*p.quantity%></td>
            <td><%=parseInt(p.price*0.05)%></td>
        </tr>
        <%}%>
        
    </table>
</div>
